.bg-color1{
background-color: #5c696e;
color: white;
}
.bg-color2{
    background-color: #63c2de;
    color: white;
}
.bg-color3{
    background-color: #ffc107;
    color: white;
}
.bg-color4{
    background-color: darkviolet;
    color: white;
}

.subbut{
    
}